.form {
  background-color: antiquewhite;
  max-width: 900px;
  margin-inline: auto;
  padding: 13px;
  border-radius: 10px;
  margin-top: 30px;
  color: black;
}

.inputField {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
}

.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.btn {
  background-color: rgb(104, 208, 171);
  padding: 10px 13px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: auto;
  color: black;
  font-weight: bold;
  border: none;
}
