.list {
  margin-top: 30px;
  background-color: antiquewhite;
  padding: 10px;
  width: 900px;
  margin-inline: auto;
  list-style: none;
}

.list li {
  background-color: rgb(61, 41, 14);
  padding: 10px 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.date {
  background-color: rgb(164, 170, 90);
  padding: 3px 8px;
}

.price {
  margin-left: auto;
  background-color: rgb(39, 130, 16);
  padding: 5px 15px;
}
